/* ── Banner superior (Componente Uno) ── */
    .header{
    position: absolute; /* Asegurar que el header esté alineado con el nivel superior */
    top: 0; /* Colocar el header al mismo nivel que el sidebar */
    right:0; /* Alinear con el borde izquierdo */
    width: 1017px; /* Asegurar que ocupe todo el ancho */
    background: #d9d0c8; /* Fondo gris-beige claro */
    padding: 40px 0; /* Incrementar padding para mayor altura */
    text-align: center;
    font-weight: 300; /* Texto más ligero */
    text-transform: uppercase; /* Texto en mayúsculas */
    border-bottom-left-radius: 8px; /* Bordes redondeados inferiores */
    border-bottom-right-radius: 8px; 
    border:2px solid #cac2bb;


}

