.sidebar{

width: 350px; /* Aumentar el ancho del sidebar */
height: 100vh; /* Altura completa */
background: #c9ae9ec4; /* Fondo marrón/taupe oscuro */
display: flex;
justify-content: center; /* Centrar contenido horizontalmente */
align-items: center; /* Centrar contenido verticalmente */
padding-top: 20px; /* Espaciado superior */
margin-right: 0; /* Eliminar margen derecho */

}

/* card dentro del sidebar */

.sidebarcard{

width: 250px; /* Aumentar el ancho para igualar a las tarjetas de Componente Dos */
height: 320px; /* Incrementar un poco la altura total del componente */
border-radius: 16px; /* Bordes redondeados *//
background: #fff; /* Fondo blanco */
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
overflow: hidden;
display: flex;
flex-direction: column; /* Estructura vertical */
}

.sidebarcard header {
    background: #d9d0c8; /* Fondo gris-beige más oscuro */
    flex: 1.1; /* Incrementar el espacio del header */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300; /* Texto más ligero */
    text-transform: uppercase; /* Texto en mayúsculas */
    border: 1px solid  #bba18f; /* Agregar un borde sólido del color del fondo del sidebar */
}

.sidebarcard h2 {
    background: #fff; /* Fondo blanco puro */
    flex: 0.9; /* Reducir el espacio del cuerpo blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400; /* Texto más prominente */
    text-transform: uppercase; /* Texto en mayúsculas */
    border: 1px solid #bba18f; /* Agregar un borde sólido del color del fondo del sidebar */
}